
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin-top: 10px;
    background-color:oldlace;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 5px 15px 15px 15px;
  }

  .column {
    float: left;
    display: inline-block;
    width: 30%;
    height: 40%;
    padding: 0 10px;
    margin: 0 10% 5% 10%;
  }

  .cont {
      margin:0 px;
      margin-top: 15%;
      margin-bottom: 5%; 
    }

  .cont:after {
    content: "";
    display: table-cell;
    clear: both;
  }
  .linkedin
  {
      font-size: x-large;
      text-decoration: none;
      color: crimson;
      font-style: oblique;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  @media screen and (max-width: 600px) {
    .column {
      width: 50%;
      display: block;
      margin-bottom: 20px;
    }
  }
  

