body {
  background: url("../img/background.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  -webkit-animation: slide 20s linear infinite;
}


@-webkit-keyframes slide {
  from { background-position: 0 0; }
  to { background-position: -400px 0; }
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
    display: table-cell;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 20px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }
  
  .container {
    padding: 5px 15px 5px 10px;
    margin-top: 2%;   
    margin-left: 5%;
  }

  .column {
    display: inline-block;
    width: 10%;
    height: 50%;
    margin: 3% 5% 1% 7%;
  }

  .cont {
      margin:0 px;
    }

  .cont:after {
    content: "";
    display: table-cell;
    clear: both;
  }
  .linkedin
  {
      font-size: x-large;
      text-decoration: none;
      color: crimson;
      font-style: oblique;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

  }
  @media screen and (max-width: 600px) {
    .column {
      width: 50%;
      display: block;
      margin-bottom: 20px;
    }
  }

.subtitle
{
  text-align: center;
  font-size: xx-large;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 
  
.aboutimg
{
  width: 70%;
  height: 40%;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 3%;
}

.textcontent
{
  margin-top: 2%;
}
.mission
{
  text-align: center;
  width: 80%;
  margin-left: 10%;
  font-size: 22px;
  font-family:'Times New Roman', Times, serif;
}
.x
{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 1%;
}