:root {
    --screen-height: 100%;
    --screen-width: 100%;
    --cover-height: calc(var(--screen-height)-60%);
    --cover-width: calc(var(--screen-height)-70%);
}
.desc
{
    float: right;
    display: block;
    background-color:#f5f5f4;
    height: 40%;
    width: 30%;
    margin-right: 5%;
}
.txt
{
    float: right;
/* width: 40%; */
height: 20%;
margin: 0px 0px;
padding: 10%;
}
.one
{
    display:inline-block;
    margin-left: 1%;
    margin-right: 100px;
}
.title
{
    text-align: center;
    color: rgb(110, 92, 173);
    margin-top:11%;
    /* :30%; */
}

.commentclass{
    margin-top: 15px;
    margin-bottom: 10px;
    padding: 20px 25px 25px;
    background: #c72d4a;
    box-shadow: 0 0 13px 0 rgba(0, 0, 0, 0.2);
    width: 396px;
    border-radius: 10px;
    position: relative;
    color: white;
}


.img{

    width: var(--cover-width);
  height:var(--cover-height);
   margin-left: 43%;
}
.price
{
    color: crimson;
    font-size: 30px;
    padding: 10%;
    width: 40%;
}
.checked
{
    color: orangered;
    
}

.btn_btn
{
    margin-left: 220px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
.font-control{
    width: 600px;

	height: 120px;
	border: 3px solid #cccccc;
	padding: 5px;
	font-family: Tahoma, sans-serif;
	background-position: bottom right;
	background-repeat: no-repeat;
}

.aa
{
    color: brown;
    font-size: 30px;
    padding:10%;

    width: 40%;
}
.txt
{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    
}


.c
{
    background-color:#de3241;
    color:#fff;
}
.b
{
    background-color:#de3241;
}
.d
{
    background-color:#de3241;
}
.texta
{
    margin-left: 30%;
}
.pprice{
margin-top: 80%;
}
