body{
    background-image: url("../img/categorybg.jpg");
    
}
.categoryheader{
    width: 100%;
    height: 400px;
    
}
.main{
    background-color:white;
    width: 70%;
    height: 1250px;
    align-content: center;
    margin-left: 15%;
    border-radius: 20px;
    padding: 15px;
    
}
.categories{
    padding: 90px;
    top: 30px;
    display: table-row;
    margin: 60px;
  


}