
.card {
  display: inline;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   width:20%;
   height: 25%;
   margin-top: 3%;
   margin-bottom: 5%;
   margin-right: 3%;
   text-align: center;
    font-family: serif;
    border-radius: 10px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 15px;
  }

  .column {
    float: left;
    display: inline-block;
  height: 20%; 
  width: 22%;
  padding: 0 10px;
   margin-bottom: 3%;
   margin-left: 4%;
   
  }

  .reading {
      margin-top: 10%;
      margin-bottom: 5%; 
    }

  .reading:after {
    content: "";
    display: table;
    clear: both;
  }
  .listTitle
  {
      margin-left: 15px;
     color: crimson; 
     margin-bottom: 25px;
  }

  @media screen and (max-width: 600px) {
    .column {
      width: 50%;
      display: block;
      margin-bottom: 20px;
    }
  }
  .bimg
  {
    border-radius: 10px;
    height:300px;
    width:100%
  }
  .title
  {
    color: black;
    font-size: 20px;
    margin: 5px;

  }
  .author
  {
    color: crimson;
    background-color: crimson;
  border:none;
  border-radius: 5px;
  color:white;
  font-style: oblique;
   font-size: 15px;
   margin: 5px;
  padding: 10px;
  }
  

